.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #ffb300 2px solid !important;
  color: #000;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.btn,
.btn-large {
  background-color: #ffc107 !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
